.btn {
    font-size: 13px;
    color: #fff;
    border-radius: 30px;
    padding: 8px 16px;
}

.btnBlue {
    background: linear-gradient(267.29deg, #0995E3 0%, #096BE1 100%);
}

.btnBlue:hover {
    background: linear-gradient(267.29deg, #097FE2 0%, #085CDB 100%);
}