.solutinCardItem {
    background: #F1F2F5;
}

.solutinCardItem:not(:first-child) {
    margin-top: 40px;
}
.solutionCardTitle {
    font-size: 18px;
    color: #212F41;
}

.solutionCardDescription {
    font-size: 16px;
    line-height: 28px;
    color: #212F41;
}

.solutionCardImage {
    width: 64px;
}