
.colLeft {
    width: 38%;
}

.solutionCardsContent {

}

@media(max-width: 992px) {
    .solutionCardsWrapper {
        flex-direction: column;
    }
    .colLeft, .colRight {width: 100%;}
    .colRight {margin-top: 50px;}
}