@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
  --grey: #B7BBBC;
  --blue: #1F7EF6;
  --bg-card: rgba(98, 122, 153, 0.30);
  --bg-card-hover: rgba(98, 122, 153, 0.60);
  --btn-blue: linear-gradient(267.29deg, #0995E3 0%, #096BE1 100%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--open-sans);
  font-size: 14px;
}

.container {
  width: 98%;
  margin: auto;
}

body:has(.theme-selector.light-mode) {background-color: #fff;}
.container:has(.theme-selector.light-mode) {width: 92%;}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0;
}

h5 {
  font-weight: 18px;
  font-weight: 600;

}

.general-title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 50px;
}

.border-blue {
  border-bottom: 2px solid var(--blue);
}

.border-grey {
  border-bottom: 2px solid var(--grey);
}

@media(max-width: 992px) {
  .container {
    max-width: 98%;
  }
}